<!DOCTYPE html>
<html>
  <head>
    <title>{{company_name}}</title>
    {% include 'bootstrap.html' %}
  </head>
   <body>
     {% include 'nav.html' %}
     {% include 'banner.html' %}
     <div class = "container">
    <h1 class="text-center mt-2 mb-4">
      {{company_name}}</h1>
       <div class="row" style= "margin-bottom:16px;">
         <div class="col-md-7">
     <p class="lead"> At carrer marketplace, our mission is to empower job seekers with an all-in-one platform designed for success. We provide comprehensive guidance, innovative learning resources, and opportunities to build meaningful social connections—enabling users to boost their visibility in the global job market. 
       <div class= "fs-4">
           <p><b></b>Join us today and take the first step towards your dream career!</b></p>
       </div>
     </p>
         </div>
         <div class="d-none d-md-block col-md-4">
         <img src="/static/people.jpeg" style="height:220px; width:550px; border-radius:2px;">
         </div>
       </div>
     <h2 class="text-center mt-5">Job Openings</h2>
       <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
       </div>
       <div class ="text-center mt-2 mb-4">
     <button class="btn btn-primary btn-sm" style="margin-top: 4px;"> Contact Us  </button>
       </div>
       {% include 'footer.html' %}
    </body>
</html>