<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8z">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Career Marketplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
   <body>
     {% include 'nav.html' %}
     <img class = "img-fluid" id ="banner" src = "/static/banner.jpeg">
     <div class = "container">
    <h1 class="text-center mt-2 mb-4">
      {{company_name}} Marketplace </h1>
       <div class="row" style= "margin-bottom:16px;">
         <div class="col-md-7">
     <p class="lead"> At carrer marketplace, our mission is to empower job seekers with an all-in-one platform designed for success. We provide comprehensive guidance, innovative learning resources, and opportunities to build meaningful social connections—enabling users to boost their visibility in the global job market. 
       <div class= "fs-4">
           <p><b></b>Join us today and take the first step towards your dream career!</b></p>
       </div>
     </p>
         </div>
         <div class="d-none d-md-block col-md-4">
         <img src="/static/people.jpeg" style="height:220px; width:550px; border-radius:2px;">
         </div>
       </div>
     <h2 class="text-center mt-5">Job Openings</h2>
       <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
       </div>
       <div class ="text-center mt-2 mb-4">
     <button class="btn btn-primary btn-sm" style="margin-top: 4px;"> Contact Us  </button>
       </div>
       {% include 'footer.html' %}
    </body>
</html>